@charset "UTF-8";
/*Paleta de cores
Verde: #49a09d
roxo: #5f2c82
rosa: #f2709c
Amarelo: #ffb830
Azul: #00d2ff
Azul escuro: #3a1c71
laranja: #ff512f
lilas: #800080

*/
@media (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to top, #49a09d ,#5f2c82);
    }
    section#login {
        width: 80vw;
        height: 280px;
    }
    section#login > div#imagem{
        float: left;
        width: 40%;
        height: 100%;

    }
    section#login > div#formulario {
        float: right;
        width: 600%;
        height: 100%;

    }
}
@media screen and (min-width: 990px){
    body{
        background-image: linear-gradient(to top, #49a09d ,#5f2c82);
    }
    
    section#login {
        width: 950px;
        height: 310px;
        
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;

    }
    section#login > div#formulario {
        float: left;
        width: 50%;
        height: 100%;
    
}
    div#formulario p{
        text-align: center;
        font-size: 1.2em;
        margin-left: 5px;
        margin-top: 10px;
        margin-bottom: 10px
    }
}
