@charset "UTF-8";
/*Paleta de cores
Verde: #49a09d
roxo: #5f2c82
rosa: #f2709c
Amarelo: #ffb830
Azul: #00d2ff
Azul escuro: #3a1c71
laranja: #ff512f
lilas: #800080

*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body, html {
    background-color: #5f2c82;
    width: 100vw;
    height: 100vh;
}
main {
    position: relative;
    width: 100vw;
    height: 100vh;
}
section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    height: 500px;
    width: 250px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.450);
    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease-in-out;
}

section#login > div#imagem{
    display: block;
    background:#5f2c82 url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    height: 200px;

}
section#login > div#formulario {
    display: block;
    padding: 20px;

}
div#formulario h1{
    text-align: center;
    margin-bottom: 10px;

}
div#formulario p{
    text-align: center;
    font-size: 0,5em;

}
form div.campo{
    background-color: #5f2c82;
    border: 2px solid #5f2c82;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
}
div.campo label{
    display: none;

}
div.campo i{
    color: white;
    vertical-align: middle;
    margin: 10px;

}
div .campo input{
    background-color: #94cfcd;
    font-size: 1em;
    border: none;
    height: 100%;
    width: calc(100% - 44px);
    transform: translateY(-44px);
    margin-left: 44px;
    padding-left: 10px;
    border-radius: 8px;
    padding: 4px;
}
div .campo input:focus-within{
    background-color: white;
    
}
form input[type="submit"]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    background-color: #49a09d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;

 
}
form input[type="submit"]:hover{
    background-color: #2d6462;

}
form a.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    background-color: white; 
    text-align: center;
    color: green;
    border: 1px solid #49a09d;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    
}   
form a.botao i{
    vertical-align: middle;
    margin-left: 5px;

}
form a.botao:hover{
    background-color: #49a09d;
    color: white;
}