@charset "UTF-8";
/*Paleta de cores
Verde: #49a09d
roxo: #5f2c82
rosa: #f2709c
Amarelo: #ffb830
Azul: #00d2ff
Azul escuro: #3a1c71
laranja: #ff512f
lilas: #800080

*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}